[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=dawmro
Group=dawmro
WorkingDirectory=/home/dawmro/app/src/
Environment="PATH=/home/dawmro/app/venv/bin"
EnvironmentFile=/home/dawmro/.env
ExecStart=/home/dawmro/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
